<div class="col-2">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/information/<%=myLogin%>">Информация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/notifications">Уведомления</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/subscriptions">Подписки</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/followers">Подписчики</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/rating/1">Рейтинг</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/tasks">Задачи</a>
        </li>
    </ul>
</div>