<link rel="stylesheet" type="text/css" href="/css/home.css">
</head>

<body>
<%- include('./partials/header.ejs') %>


<div class="container-fluid menu">
    <div class="row set">
        <div class="bg-img-div">
            <img class="bg-img" src="/img/bg_home2.png" >
        </div>
    </div>
<div class="section-div">

    <h1 class="title-center">Решай задачи и выкладывай сам</h1>

    <div class="title-line-div">
        <hr class="title-line">
    </div>

    <div class="flex">
        <div class="text-width">
            <p style="text-align: center"> Compropy в первую очередь приложение для совместного обучения программированию на языке python,
                решай задачи других людей и набирайся опыта!! И конечно не стоит забывать, что и ты можешь поделится
                своими задачами с другими людьми. Заинтересован? Быстрее регестрируйся</p>
        </div>
    </div>
    <div class="mt-3 flex">
        <a href="/signup" class="btn btn-lg auth-btn">Зарегестрироваться</a>
    </div>
</div>

<div class="section-div section-img">
    <h3 style="font-family: Raleway;">Преимущества:</h3>
    <div class="row">
        <div class="col-sm-4">
            <div class="card" >
                <div class="card-body">
                    <div class="flex">
                        <img src="/img/card1.png">
                    </div>
                    <p class="card-text">Набирайся опыта в решении задач и совершенствуйся</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <div class="flex">
                        <img src="/img/card2.png">
                    </div>
                    <p class="card-text">Находи близких по духу людей</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <div class="flex">
                        <img src="/img/card3.png">
                    </div>
                    <p class="card-text">Важно не только решать задачи, но и возможность, придумывать самому</p>
                </div>

            </div>
        </div>
    </div>
<!--Плюсы-->
</div>
    </div>
</div>
<div class="footer" style="height: 100px; margin-top: 30px;">
    <div style="background-color: #5c767c; height: inherit" ></div>
</div>
</body>

</html>