.person {
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
}

.header {
    background-color: #dae3e7;
}

.btn {
    background-color: white;
    border: solid 2px #5c767c;
    border-radius: 20px;
}

.btn:hover {
    background-color: #9DD899;
}

.btn-change {
    float: right;
}


.subscription {
    border: 3px solid #5c767c;
    border-radius: 60px;
    background-color: #dededf;
}

.center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}